{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baabtra</title>
</head>
<body>
    <p><a href="adhun">adhun</a></p>
    <h1>BAABTRA</h1>
    <a href="">Click</a>
    <h3>cybersquare</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, excepturi voluptatum, veritatis amet voluptatem nemo delectus culpa perferendis dicta unde cupiditate deleniti vel laboriosam voluptate? Nihil atque cumque officiis omnis, voluptate maxime nobis fugit quam quod, reprehenderit ullam debitis, eligendi sed. Optio dolore cupiditate est, numquam recusandae iste sequi molestiae ducimus alias expedita corrupti nisi repudiandae officia, quod provident neque veniam doloribus ipsum sapiente, magni veritatis odio architecto? Nostrum quo ex mollitia nobis rem, voluptas omnis ut aperiam doloribus, obcaecati recusandae dolorem est voluptate suscipit perspiciatis quis deserunt optio iusto quam! Natus quibusdam laudantium quis fugit omnis quasi architecto sunt.</p>
    <img src="{% static 'image/download.jpg' %}" alt="">
</body>
</html>